/* Header.css */

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #24292e;
  color: white;
  justify-content: space-between;
}

.header-logo img {
  width: 32px; /* Adjust this value as needed */
  height: 32px; /* Adjust this value as needed */
  object-fit: contain; /* Ensures the logo maintains aspect ratio */
  margin-right: 20px;
}

.header-search {
  position: relative;
  display: flex;
  align-items: center;
}

.header-search input {
  padding: 5px 8px;
  border-radius: 6px;
  border: 1px solid #444d56;
  background-color: #333840;
  color: white;
  margin-right: 20px;
}

.header-search-slash {
  color: #444d56;
  margin-left: -20px;
}

.header-nav {
  display: flex;
  gap: 35px;
  margin-right: 100px;
}

.header-nav a {
  color: #c9d1d9;
  text-decoration: none;
}

.header-nav a:hover {
  color: white;
}

.header-profile {
  display: flex;
  align-items: center;
}

.profile-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.profile-avatar:hover{
cursor: pointer;
}
.signin{
  border-radius: 7px;
  border-style: solid;
  background-color: black;
  color: white;
  transition: 0.3s ease;
  border-color: azure;
  height: 34px;
  width: auto;
}
.signin:hover
{
  color: rgba(125, 118, 118, 0.731);
  cursor: pointer;
}
.signout{
  border-radius: 7px;
  border-style: solid;
  background-color: black;
  color: white;
  border-color: azure;
  height: 34px;
  width: auto;

}
.signout:hover{
  color: rgba(125, 118, 118, 0.731);
  cursor: pointer;
}